<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>hello world</h1>

<h3>参数传递</h3>
<a href="/parms?name=dd">点击传递参数到后台</a>
<form action="/parms" method="get">
    name：<input type="text" name="name" id = "name"><br>
    <input type="submit" value="get表单提交参数">
</form>
<h3>post参数传递</h3>
<form action="/parms" method="post">
    info：<input type="text" name="info" id = "info"><br>
    <input type="submit" value="post表单提交参数">
</form>
</body>
</html>